<!DOCTYPE html>
<html>
<head>
    <title>Create Campaign</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Create Phishing Campaign</h2>

    <form method="POST">
        <label>Username (dummy user):</label>
        <input type="text" name="username" required><br><br>

        <label>Select Email Template:</label>
        <select name="template" required>
            <option value="delivery_failure.html">Delivery Failure</option>
            <option value="bank_alert.html">Bank Alert</option>
            <option value="login_security_notice.html">Login Security Notice</option>
            <option value="security_update.html">Security Update</option>
        </select><br><br>

        <input type="submit" value="Simulate Send Email">
    </form>

    <br>
    <a href="{{ url_for('admin.dashboard') }}">Back to Dashboard</a>
</body>
</html>
